---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
---
<BaseLayout pageTitle={pageTitle}>
  <p>
    I've been a UX researcher for 5 years. 
  </p>

</BaseLayout>
