---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to my UX portfolio!</h2>
  <p> Below is an example of a persona I made for a virtual mental health service.</p>
  <div>
    <img src="Persona.png">
  </div>
</BaseLayout>
